@font-face {
  font-family: "Akira";
  src: url("../fonts/AkiraExpanded-SuperBold.woff") format("woff"), url("../fonts/AkiraExpanded-SuperBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  font-style: normal;
  font-weight: normal;
  list-style-type: none;
  text-decoration: none;
  color: #171433;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  top: 2rem;
  left: 0;
  width: 100%;
}

.nav-bar {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border: thin solid #CDCDCD;
}

.nav-item {
  padding: 0 3rem;
}

.nav-item h3 {
  color: #CDCDCD;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
}

.nav-item h3:hover {
  color: #171433;
}

.nav-logo-container {
  max-width: 3rem;
  padding: 1rem;
  border: thin solid #171433;
}

.nav-logo-container img {
  height: 3rem;
}

.section {
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: start;
}

.section-wrap {
  padding: 3rem 3rem;
  max-width: 100vw;
}

h1, h2, h3, h4, h5, h6, p {
  color: #171433;
}

h1, h2, h3 {
  font-family: 'Akira';
  text-transform: uppercase;
}

h4 {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

h5 {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

h6 {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 180%;
}

a {
  text-decoration: none;
}

.spacer {
  padding: 0 1em;
  position: relative;
}

.spacer::after {
  content: "";
  position: absolute;
}

.hoz-line {
  min-width: 2em;
  border: thin solid #171433;
}

.nav {
  display: none;
}

.outline-shape {
  border: thin solid #171433;
}

.fill-shape {
  background-color: #171433;
  border: thin solid #171433;
}

.fill-shape-red {
  background-color: #CE5F15;
  border: thin solid #CE5F15;
}

.outline-fill-shape-red {
  border: thin solid #171433;
  background-color: #CE5F15;
}

@media only screen and (min-width: 786px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-wrap {
    padding: 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .section-wrap {
    padding: 5rem 10rem;
  }
}
/*# sourceMappingURL=global.css.map */