@font-face {
  font-family: "Akira";
  src: url("../fonts/AkiraExpanded-SuperBold.woff") format("woff"), url("../fonts/AkiraExpanded-SuperBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  font-style: normal;
  font-weight: normal;
  list-style-type: none;
  text-decoration: none;
  color: #171433;
}

.wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  top: 2rem;
  left: 0;
  width: 100%;
}

.nav-bar {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border: thin solid #CDCDCD;
}

.nav-item {
  padding: 0 3rem;
}

.nav-item h3 {
  color: #CDCDCD;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
}

.nav-item h3:hover {
  color: #171433;
}

.nav-logo-container {
  max-width: 3rem;
  padding: 1rem;
  border: thin solid #171433;
}

.nav-logo-container img {
  height: 3rem;
}

.section {
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: start;
}

.section-wrap {
  padding: 3rem 3rem;
  max-width: 100vw;
}

h1, h2, h3, h4, h5, h6, p {
  color: #171433;
}

h1, h2, h3 {
  font-family: 'Akira';
  text-transform: uppercase;
}

h4 {
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

h5 {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

h6 {
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 180%;
}

a {
  text-decoration: none;
}

.spacer {
  padding: 0 1em;
  position: relative;
}

.spacer::after {
  content: "";
  position: absolute;
}

.hoz-line {
  min-width: 2em;
  border: thin solid #171433;
}

.nav {
  display: none;
}

.outline-shape {
  border: thin solid #171433;
}

.fill-shape {
  background-color: #171433;
  border: thin solid #171433;
}

.fill-shape-red {
  background-color: #CE5F15;
  border: thin solid #CE5F15;
}

.outline-fill-shape-red {
  border: thin solid #171433;
  background-color: #CE5F15;
}

@media only screen and (min-width: 786px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.background-shape, .background-text {
  position: absolute;
}

.vert-text {
  transform: rotate(90deg);
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(90deg);
  /* Opera */
  -o-transform: rotate(90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.text-line-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-line-arrow span {
  margin: 0 1em;
}

.background-shapes .top-right-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 3%;
  top: 22%;
}

.background-shapes .top-right-text h5 {
  margin-right: 2em;
}

.background-shapes .top-left-box {
  left: 7%;
  top: 6.8%;
  height: 0.5em;
  width: 50%;
}

.background-shapes .top-left-box-2 {
  left: 7%;
  top: 5.8%;
  height: 0.5em;
  width: 45%;
}

.background-shapes .mid-left-box-2 {
  left: 7%;
  bottom: 5%;
  height: 1em;
  width: 6em;
}

.background-shapes .bot-left-box {
  left: 7%;
  bottom: 6%;
  height: 1em;
  width: 1em;
}

.background-shapes .bot-left-text-2 {
  left: 7%;
  bottom: 10%;
}

.background-shapes .bot-left-text-2 h5 {
  margin-right: 2em;
}

.background-shapes .top-mid-box {
  left: 30%;
  top: 7%;
  height: 0.8em;
  width: 0.8em;
}

.background-shapes .bot-mid-box {
  left: 7%;
  bottom: 25%;
  height: 0.8em;
  width: 0.8em;
}

.background-shapes .mid-right-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 3%;
  bottom: 20%;
}

.background-shapes .mid-right-text h5 {
  margin-right: 2em;
}

.background-shapes .top-right-line {
  right: 6%;
  top: 6.5%;
  height: 1.5em;
  width: 1rem;
}

.background-shapes .top-right-line-2 {
  right: 6%;
  top: 12%;
  height: 3em;
  width: 1rem;
}

.background-shapes .top-left-text {
  left: 7%;
  top: 10%;
  height: 0.6em;
  width: 20vw;
}

.background-shapes .bot-right-box {
  right: 20%;
  bottom: 5%;
  height: 1em;
  width: 3em;
}

.background-shapes .bot-right-box-2 {
  right: 5%;
  bottom: 5%;
  height: 1em;
  width: 6em;
}

.background-shapes .bot-right-text {
  right: 7%;
  bottom: 10%;
}

.background-shapes .color-scheme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.background-shapes .color-scheme .color-scheme-shape {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
}

nav {
  display: none !important;
}

#down-arrow {
  position: absolute;
  bottom: 2em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 5em;
  width: 5em;
  cursor: pointer;
}

#up-arrow {
  position: absolute;
  bottom: 2em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 5em;
  width: 5em;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.arrow {
  opacity: 0;
  position: absolute;
  left: 30%;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
  -webkit-animation: arrow-movement 2s ease-in-out infinite;
          animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-second {
  -webkit-animation: arrow-movement 2s 1s ease-in-out infinite;
          animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
  background: #171433;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}

.arrow:before {
  -webkit-transform: rotate(45deg) translateX(-23%);
          transform: rotate(45deg) translateX(-23%);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.arrow:after {
  -webkit-transform: rotate(-45deg) translateX(23%);
          transform: rotate(-45deg) translateX(23%);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

@-webkit-keyframes arrow-movement {
  0% {
    opacity: 0;
    top: -2%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: -2%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.section-header {
  font-size: 2rem;
}

.home {
  background-image: url(../images/background-lines.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .home-logo-card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  position: absolute;
}

.home .home-logo-card .logo-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* for IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* for Safari */
}

.home .home-logo-card .red-block {
  background-color: #CE5F15;
  width: 1rem;
  height: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* for IE 9 */
  -webkit-transform: translate(-50%, -50%);
  /* for Safari */
}

.home .home-title-card {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  position: relative;
}

.home .home-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto;
}

.home .home-title h3 {
  text-align: center;
  font-size: 1.9em;
  margin: 0;
  color: #CE5F15;
}

.home h1 {
  font-size: 6.5em;
  text-align: left;
  margin: 0;
  letter-spacing: 0.1rem;
}

.home .h1-container {
  position: relative;
}

.home .h1-container .main-text {
  position: relative;
  z-index: 50;
  top: 0;
  font-size: 4.5rem;
}

.home .h1-container .outline-text {
  position: absolute;
  top: 0.05em;
  left: -0.08em;
  font-size: 4.5rem;
  color: white;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #171433;
  z-index: 10;
}

.about .about-text p {
  font-weight: 400;
}

.about .me {
  display: none;
}

.cv .cv-text-container {
  padding-bottom: 2rem;
}

.cv .cv-text-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cv .cv-sub-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cv .cv-sub-title-container h4 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.cv .cv-text-content-container {
  padding: 1rem 0;
}

.cv .cv-text-content-container p {
  padding: 0.5rem 0;
}

.cv .cv-skill-title-container h5 {
  color: #9B9B9B;
}

.cv .cv-skill-container {
  padding: 1rem 0;
}

.portfolio .portfolio-wrap .section-sub-header {
  padding: 0.5rem 0;
  font-size: 0.8rem;
  color: #CDCDCD;
}

.portfolio .project-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem 0;
}

.portfolio .project-grid .project-grid-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio .project-grid .project-grid-item img {
  max-width: 100%;
}

.portfolio .project-grid .project-grid-item .project-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
}

.portfolio .project-grid .project-grid-item .project-title-container h3 {
  font-size: 1.3rem;
}

.portfolio .project-grid .project-grid-item .project-title-container .project-num {
  padding-right: 1rem;
  color: #CE5F15;
}

.portfolio .project-grid .project-grid-item .project-description {
  padding-bottom: 2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.portfolio .project-grid .project-grid-item .project-btn {
  background-color: #171433;
  max-width: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color ease 0.3s;
  transition: background-color ease 0.3s;
  cursor: pointer;
}

.portfolio .project-grid .project-grid-item .project-btn p {
  color: white;
  padding: 1rem 2rem;
  font-weight: 500;
}

.portfolio .project-grid .project-grid-item .project-btn:hover {
  background-color: #CE5F15;
}

.portfolio .lets-talk-btn {
  width: 100%;
  padding: 2rem;
  background-color: #171433;
}

.portfolio .lets-talk-btn p {
  color: white;
  font-weight: 400;
  font-family: "Akira";
  font-size: 0.8rem;
}

.contact {
  position: relative;
  background-image: url(../images/background-lines-reverse.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.contact .contact-wrap {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.contact .contact-wrap .contact-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contact .contact-wrap .contact-text h1 {
  font-size: 3em;
  margin: 0;
  height: 0.8em;
  color: transparent;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #171433;
}

.contact .contact-wrap .contact-text .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact .contact-wrap .contact-text .title-container img {
  height: 4em;
  margin: 0 1em;
}

.contact .contact-wrap .contact-text .background-box {
  position: absolute;
  left: -10%;
  top: 20%;
  width: 15em;
  height: 2em;
  background-color: #CE5F15;
  z-index: -1;
}

.contact .contact-wrap .contact-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5em;
}

.contact .contact-wrap .contact-link-container a {
  margin: 1em;
}

.contact .contact-wrap .contact-link-container i {
  line-height: 200%;
  color: #171433;
  font-size: 2em;
  height: 2em;
  text-align: center;
}

.contact .contact-wrap .contact-link-container i:hover {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  color: #CE5F15;
}

@media only screen and (min-width: 786px) {
  .home .home-logo-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    position: relative;
    background-color: #171433;
  }
  .home .home-logo-card .logo-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* for IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* for Safari */
  }
  .home .home-logo-card .red-block {
    background-color: #CE5F15;
    width: 1rem;
    height: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* for IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* for Safari */
  }
  .home .h1-container {
    position: relative;
  }
  .home .h1-container .main-text {
    position: relative;
    z-index: 50;
    top: 0;
    font-size: 6rem;
  }
  .home .h1-container .outline-text {
    position: absolute;
    top: 0.05em;
    left: -0.08em;
    font-size: 6rem;
    color: white;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #171433;
    z-index: 10;
  }
  .section-wrap {
    padding: 4rem;
  }
  .about {
    position: relative;
  }
  .about .about-wrap {
    padding: 10vw;
  }
  .about .section-header {
    font-size: 4rem;
    text-align: right;
  }
  .about .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 0;
  }
  .about .about-text {
    width: 50%;
    padding: 0 5rem;
  }
  .about .about-text p {
    font-weight: 400;
    padding: 1rem 0;
  }
  .about .me {
    display: block;
    width: 50%;
    padding: 0 3rem;
  }
  .about .me img {
    max-width: 20rem;
  }
  .portfolio .portfolio-wrap {
    margin: 0;
  }
  .portfolio .portfolio-wrap .section-header {
    font-size: 3rem;
  }
  .portfolio .portfolio-wrap .section-sub-header {
    padding: 0.5rem 0;
    font-size: 1.3rem;
    color: #CDCDCD;
  }
  .portfolio .project-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding-bottom: 5rem;
  }
  .portfolio .project-grid .project-grid-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 47%;
            flex: 0 0 47%;
    padding-bottom: 4rem;
  }
  .portfolio .project-grid .project-grid-item img {
    max-width: 100%;
  }
  .portfolio .project-grid .project-grid-item .project-title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem 0;
  }
  .portfolio .project-grid .project-grid-item .project-title-container h3 {
    font-size: 1.5rem;
  }
  .portfolio .project-grid .project-grid-item .project-title-container .project-num {
    padding-right: 1.5rem;
    color: #CE5F15;
  }
  .portfolio .project-grid .project-grid-item .project-description {
    padding-bottom: 2rem;
  }
  .portfolio .project-grid .project-grid-item .project-btn {
    background-color: #171433;
    max-width: 13rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: background-color ease 0.3s;
    transition: background-color ease 0.3s;
    cursor: pointer;
  }
  .portfolio .project-grid .project-grid-item .project-btn p {
    color: white;
    padding: 1rem 2rem;
    font-weight: 500;
  }
  .portfolio .project-grid .project-grid-item .project-btn:hover {
    background-color: #CE5F15;
  }
  .portfolio .lets-talk-btn {
    width: 100%;
    padding: 2rem;
    background-color: #171433;
  }
  .portfolio .lets-talk-btn p {
    color: white;
    font-weight: 400;
    font-family: "Akira";
    font-size: 2rem;
  }
  .contact .contact-wrap .contact-link-container {
    margin-top: 2em;
  }
  .contact .contact-wrap .contact-link-container a {
    margin: 1em;
  }
  .contact .contact-wrap .contact-link-container i {
    font-size: 3em;
    padding: 0 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .home .home-logo-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
    position: relative;
    background-color: #171433;
  }
  .home .home-logo-card .logo-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* for IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* for Safari */
  }
  .home .home-logo-card .red-block {
    background-color: #CE5F15;
    width: 1rem;
    height: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* for IE 9 */
    -webkit-transform: translate(-50%, -50%);
    /* for Safari */
  }
  .home .h1-container {
    position: relative;
  }
  .home .h1-container .main-text {
    position: relative;
    z-index: 50;
    top: 0;
    font-size: 8rem;
  }
  .home .h1-container .outline-text {
    position: absolute;
    top: 0.05em;
    left: -0.08em;
    font-size: 8rem;
    color: white;
    -webkit-text-fill-color: white;
    /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #171433;
    z-index: 10;
  }
  .section-wrap {
    padding: 5rem 10rem;
  }
  .about .about-wrap {
    padding: 10vw;
  }
  .about .section-header {
    font-size: 6rem;
  }
  .about .about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 0;
  }
  .about .about-text {
    width: 50%;
    padding-right: 2rem;
  }
  .about .about-text p {
    font-weight: 400;
    padding: 1rem 0;
  }
  .about .me {
    display: block;
    width: 50%;
    padding: 0 3rem;
  }
  .about .me img {
    max-width: 20rem;
  }
  .cv .cv-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .cv .cv-text-title-container h3 {
    font-size: 1.5rem;
  }
  .cv .cv-text-container {
    padding: 2rem;
  }
  .cv .first-column, .cv .second-column, .cv .third-column {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
  .cv .cv-sub-title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .cv .cv-sub-title-container h4 {
    padding-right: 1rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
/*# sourceMappingURL=style.css.map */