@import "global.scss";

.background-shape, .background-text{
    position: absolute;
}
.vert-text{
    transform: rotate(90deg);
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.text-line-arrow{
    display: flex;
    align-items: center;
    span{
        margin: 0 1em;
    }
}
.background-shapes{
    // LEFT SHAPES
    .top-right-text{
        display: flex;
        right: 3%;
        top: 22%;
        h5{
            margin-right: 2em;
        }
    }
    .top-left-box{
        left: 7%;
        top: 6.8%;
        height: 0.5em;
        width: 50%;
    }
    .top-left-box-2{
        left: 7%;
        top: 5.8%;
        height: 0.5em;
        width: 45%;
    }
    .mid-left-box-2{
        left: 7%;
        bottom: 5%;
        height: 1em;
        width: 6em;
    }
    .bot-left-box{
        left: 7%;
        bottom: 6%;
        height: 1em;
        width: 1em;
    }
    .bot-left-text-2{
        left: 7%;
        bottom: 10%;
        h5{
            margin-right: 2em;
        }
    }

    // MID SHAPES
    .top-mid-box{
        left: 30%;
        top: 7%;
        height: 0.8em;
        width: 0.8em;
    }
    .bot-mid-box{
        left: 7%;
        bottom: 25%;
        height: 0.8em;
        width: 0.8em;
    }
    .mid-right-text{
        display: flex;
        right: 3%;
        bottom: 20%;
        h5{
            margin-right: 2em;
        }
    }

    // RIGHT SHAPES
    .top-right-line{
        right: 6%;
        top: 6.5%;
        height: 1.5em;
        width: 1rem;
    }
    .top-right-line-2{
        right: 6%;
        top: 12%;
        height: 3em;
        width: 1rem;
    }
    .top-left-text{
        left: 7%;
        top: 10%;
        height: 0.6em;
        width: 20vw;
    }
    .bot-right-box{
        right: 20%;
        bottom: 5%;
        height: 1em;
        width: 3em;
    }
    .bot-right-box-2{
        right: 5%;
        bottom: 5%;
        height: 1em;
        width: 6em;
    }
    .bot-right-text{
        right: 7%;
        bottom:10%;
    }
    .color-scheme{
        display: flex;
        .color-scheme-shape{
            flex: 0 0 30%;
        }
    }
}

// DOWN ARROW
$ani-speed: 2s;
$ani-delay: 1s;

nav{
    display: none !important;
}

#down-arrow{
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    height: 5em;
    width: 5em;
    cursor: pointer;
}
#up-arrow{
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    height: 5em;
    width: 5em;
    cursor: pointer;
    transform: rotate(180deg);
}

.arrow {
    opacity: 0;
    position: absolute;
        left: 30%;
        top: 50%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    animation: arrow-movement $ani-speed ease-in-out infinite;
}
.arrow-second {
    animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: $navy;
    content: '';
    display: block;
    height: 2px; 
    position: absolute;
        top: 0;
        left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

// Animation
@keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: -2%;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}

.section-header{
    font-size: 2rem;
}

.home{
    background-image: url(../images/background-lines.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    .home-logo-card{
        flex: 0 0 100%;
        position: absolute;
        .logo-container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%); /* for IE 9 */
            -webkit-transform: translate(-50%, -50%); /* for Safari */
        }
        .red-block{
            background-color: $red;
            width: 1rem;
            height: 50%;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%); /* for IE 9 */
            -webkit-transform: translate(-50%, -50%); /* for Safari */
        }
    }
    .home-title-card{
        flex: 1 0 50%;
        position: relative;
    }
    .home-title{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto;
        h3{
            text-align: center;
            font-size: 1.9em;
            margin: 0;
            color: $red;
        }
    }
    h1{
        font-size: 6.5em;
        text-align: left;
        margin: 0;
        letter-spacing: 0.1rem;
    }
    .h1-container{
        position: relative;
        .main-text{
            position: relative;
            z-index: 50;
            top: 0;
            font-size: 4.5rem;
        }
        .outline-text{
            position: absolute;
            top: 0.05em;
            left: -0.08em;
            font-size: 4.5rem;
            color: white;
            -webkit-text-fill-color: white; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $navy;
            z-index: 10;
        }
    }
}

.about{
    // .about-wrap{
    //     padding: 3rem 3rem;
    //     max-width: 100vw;
    // }
    .about-text{
        p{
            font-weight: 400;
        }
    }
    .me{
        display: none;
    }
}

.cv{
    .cv-wrap{
    }
    .cv-text-container{
        padding-bottom: 2rem;
    }
    .cv-text-title-container{
        display: flex;
    }
    .cv-sub-title-container{
        display: flex;
        h4{
            flex-grow: 1;
        }
    }
    .cv-text-content-container{
        padding: 1rem 0;
        p{
            padding: 0.5rem 0;
        }
    }
    .cv-skill-title-container{
        h5{
            color: #9B9B9B;
        }
    }
    .cv-skill-container{
        padding: 1rem 0;
    }
}

.portfolio{
    .portfolio-wrap{
        .section-sub-header{
            padding: 0.5rem 0;
            font-size: 0.8rem;
            color: $gray;
        }
    }
    .project-grid{
        display: flex;
        flex-wrap: wrap;
        padding: 2rem 0;
        .project-grid-item{
            flex: 0 0 100%;
            padding-bottom: 4rem;
            display: flex;
            flex-direction: column;
            img{
                max-width: 100%;
            }
            .project-title-container{
                display: flex;
                padding: 1rem 0;
                h3{
                    font-size: 1.3rem;
                }
                .project-num{
                    padding-right: 1rem;
                    color: $red;
                }
            }
            .project-description{
                padding-bottom: 2rem;
                flex-grow: 1;
            }
            .project-btn{
                background-color: $navy;
                max-width: 13rem;
                display: flex;
                justify-content: center;
                transition: background-color ease 0.3s;
                cursor: pointer;
                p{
                    color: white;
                    padding: 1rem 2rem;
                    // font-family: $akira;
                    font-weight: 500;
                }
                &:hover{
                    background-color: $red;
                }
            }
        }

    }
    .lets-talk-btn{
        width: 100%;
        padding: 2rem;
        background-color: $navy;
        p{
            color: white;
            font-weight: 400;
            font-family: $akira;
            font-size: 0.8rem;
        }
    }
}

.contact{
    position: relative;
    background-image: url(../images/background-lines-reverse.svg);
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: cover;
    position: relative;
    .contact-wrap{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .contact-text{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h1{
                font-size: 3em;
                margin: 0;
                height: 0.8em;
                color: transparent;
                -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: $navy;
            }
            .title-container{
                display: flex;
                align-items: flex-end;
                img{
                    height: 4em;
                    margin: 0 1em;
                }
            }
            .background-box{
                position: absolute;
                left:-10%;
                top:20%;
                // transform: translate(-50%, -50%);
                width: 15em;
                height: 2em;
                background-color: $red;
                z-index: -1;
            }
        }
        .contact-link-container{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5em;
            a{
                margin: 1em;
            }
            i{
                line-height: 200%;
                color: $navy;
                font-size: 2em;
                height: 2em;
                text-align: center;
                &:hover{
                    transition: all ease 0.3s;
                    color: $red;
                }
            }
        }
    }
}

@media only screen and (min-width: 786px) {
    .home{
        // .h1-container{
        //     .main-text{
        //         font-size: 4em;
        //     }
        // }
        .home-logo-card{
            flex: 0 0 45%;
            position: relative;
            background-color: $navy;
            .logo-container{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%); /* for IE 9 */
                -webkit-transform: translate(-50%, -50%); /* for Safari */
            }
            .red-block{
                background-color: $red;
                width: 1rem;
                height: 50%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%); /* for IE 9 */
                -webkit-transform: translate(-50%, -50%); /* for Safari */
            }
        }
        .h1-container{
            position: relative;
            .main-text{
                position: relative;
                z-index: 50;
                top: 0;
                font-size: 6rem;
            }
            .outline-text{
                position: absolute;
                top: 0.05em;
                left: -0.08em;
                font-size: 6rem;
                color: white;
                -webkit-text-fill-color: white; /* Will override color (regardless of order) */
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: $navy;
                z-index: 10;
            }
        }
    }

    .section-wrap{
        padding: 4rem;
    }

    .about{
        position: relative;
        .about-wrap{
            padding:10vw;
        }
        .section-header{
            font-size: 4rem;
            text-align: right;
        }
        .about-content{
            display: flex;
            align-items: center;
            padding: 2rem 0;
        }
        .about-text{
            width: 50%;
            padding: 0 5rem;
            p{
                font-weight: 400;
                padding: 1rem 0;
            }
        }
        .me{
            display: block;
            width: 50%;
            padding: 0 3rem;
            img{
                max-width: 20rem;
            }
        }
    }

    .portfolio{
        .portfolio-wrap{
            margin: 0;
        }
        .portfolio-wrap{
            .section-header{
                font-size: 3rem;
            }
            .section-sub-header{
                padding: 0.5rem 0;
                font-size: 1.3rem;
                color: $gray;
            }
        }
        .project-grid{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            padding-bottom: 5rem;
            .project-grid-item{
                flex: 0 0 47%;
                padding-bottom: 4rem;
                img{
                    max-width: 100%;
                }
                .project-title-container{
                    display: flex;
                    padding: 2rem 0;
                    h3{
                        font-size: 1.5rem;
                    }
                    .project-num{
                        padding-right: 1.5rem;
                        color: $red;
                    }
                }
                .project-description{
                    padding-bottom: 2rem;
                }
                .project-btn{
                    background-color: $navy;
                    max-width: 13rem;
                    display: flex;
                    justify-content: center;
                    transition: background-color ease 0.3s;
                    cursor: pointer;
                    p{
                        color: white;
                        padding: 1rem 2rem;
                        // font-family: $akira;
                        font-weight: 500;
                    }
                    &:hover{
                        background-color: $red;
                    }
                }
            }
    
        }
        .lets-talk-btn{

            width: 100%;
            padding: 2rem;
            background-color: $navy;
            p{
                color: white;
                font-weight: 400;
                font-family: $akira;
                font-size: 2rem;
            }
        }
    }

    .contact{
        .contact-wrap{
            .contact-link-container{
                margin-top: 2em;
                a{
                    margin: 1em;
                }
                i{
                    font-size: 3em;
                    // height: 2em;
                    padding: 0 2rem;
                }
            }
        }

    }

  }
@media only screen and (min-width: 1200px) {
    .home{
        // .h1-container{
        //     .main-text{
        //         font-size: 4em;
        //     }
        // }
        .home-logo-card{
            flex: 0 0 45%;
            position: relative;
            background-color: $navy;
            .logo-container{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%); /* for IE 9 */
                -webkit-transform: translate(-50%, -50%); /* for Safari */
            }
            .red-block{
                background-color: $red;
                width: 1rem;
                height: 50%;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%); /* for IE 9 */
                -webkit-transform: translate(-50%, -50%); /* for Safari */
            }
        }
        .h1-container{
            position: relative;
            .main-text{
                position: relative;
                z-index: 50;
                top: 0;
                font-size: 8rem;
            }
            .outline-text{
                position: absolute;
                top: 0.05em;
                left: -0.08em;
                font-size: 8rem;
                color: white;
                -webkit-text-fill-color: white; /* Will override color (regardless of order) */
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: $navy;
                z-index: 10;
            }
        }
    }
    .section-wrap{
        padding: 5rem 10rem;
    }

    .about{
        .about-wrap{
            padding:10vw;
            // max-width: 100vw;
        }
        .section-header{
            font-size: 6rem;
        }
        .about-content{
            display: flex;
            align-items: center;
            padding: 2rem 0;
        }
        .about-text{
            // border: thin solid black;
            width: 50%;
            padding-right: 2rem;
            p{
                font-weight: 400;
                padding: 1rem 0;
            }
        }
        .me{
            display: block;
            width: 50%;
            padding: 0 3rem;
            img{
                max-width: 20rem;
            }
        }
    }

    .cv{
        .cv-content{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

        }
        .cv-text-title-container{
            h3{
                font-size: 1.5rem;
            }
        }
        .cv-text-container{
            padding: 2rem;
        }
        .first-column, .second-column, .third-column{
            flex: 0 0 30%;
            // padding: 0 1rem;
        }
        .cv-sub-title-container{
            display: flex;
            h4{
                padding-right: 1rem;
                flex-grow: 1;
            }
        }
    }
  }